body{
    font-family: Helvetica;
    color:rgb(205, 92, 92);
    background-image: url("/background.jpg");
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#CCCC;
    min-height: 100vb;
}footer.svelte-11i077m{margin-top:auto}