body{
  font-family: Helvetica;
  color:rgb(205, 92, 92);
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#CCCC;
  min-height: 100vb;
}
